VITE_CATALOG_API_MODE=real
VITE_CATALOG_API_URL=http://127.0.0.1:3001/api
VITE_INVITATION_API_MODE=real
VITE_INVITATION_API_URL=http://127.0.0.1:3001/api
VITE_UPLOAD_API_MODE=real
VITE_UPLOAD_API_URL=http://127.0.0.1:3001/api/uploads
VITE_ORDER_API_MODE=real
VITE_ORDER_API_SUBMIT_URL=http://127.0.0.1:3001/api/orders
VITE_ORDER_API_EMAIL_URL=http://127.0.0.1:3001/api/orders/email
VITE_PAYMENT_METHODS_API_URL=http://127.0.0.1:3001/api/payment-methods
